*.iml
*.apk
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/misc.xml
/.idea/gradle.xml
/.idea/codeStyles/Project.xml
/.idea/codeStyles/codeStyleConfig.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
