<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kieronquinn.app.taptap">

    <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="net.dinglisch.android.tasker.PERMISSION_RUN_TASKS" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="true"/>

    <application
        android:name=".TapTapApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.kieronquinn.app.taptap.ui.activities.SettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.kieronquinn.app.taptap.ui.activities.WakeUpActivity"
            android:theme="@style/TransparentActivity" />
        <activity
            android:name="com.kieronquinn.app.taptap.ui.activities.UnlockDeviceActivity"
            android:theme="@style/TransparentActivity" />

        <activity android:name="com.kieronquinn.app.taptap.ui.activities.AppPickerActivity" />
        <activity android:name="com.kieronquinn.app.taptap.ui.activities.ModalActivity" />

        <service
            android:name="com.kieronquinn.app.taptap.core.services.TapAccessibilityService"
            android:label="@string/accessibility_service_label"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibilityservice" />
        </service>

        <service
            android:name="com.kieronquinn.app.taptap.core.services.TapGestureAccessibilityService"
            android:label="@string/accessibility_service_label_gesture"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/gestureaccessibilityservice" />
        </service>

        <provider
            android:name=".providers.SharedPrefsProvider"
            android:authorities="com.kieronquinn.app.taptap.provider.sharedprefs"
            android:exported="false"
            android:grantUriPermissions="true" />

        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesMenuActivity"
            android:theme="@style/AppTheme.ThirdPartyLicences" />
        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesActivity"
            android:theme="@style/AppTheme.ThirdPartyLicences" />
        <activity
            android:name="com.kieronquinn.app.taptap.ui.activities.ActivityConfigTaskerEvent"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/tasker_config_label">
            <intent-filter>
                <action android:name="net.dinglisch.android.tasker.ACTION_EDIT_EVENT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kieronquinn.app.taptap.ui.activities.ActivityConfigTaskerEventTriple"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/tasker_config_label_triple">
            <intent-filter>
                <action android:name="net.dinglisch.android.tasker.ACTION_EDIT_EVENT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kieronquinn.app.taptap.ui.activities.ReachabilityActivity"
            android:theme="@style/ReachabilityTheme" />

        <service android:name="com.kieronquinn.app.taptap.core.services.TapForegroundService" />
        <service
            android:name="com.kieronquinn.app.taptap.core.services.TapQSTile"
            android:icon="@drawable/ic_taptap_logo"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>